{% include 'accounts/main.html' %}


{% block content %}
<div class="container-fluid">
    <div class="col-md-7">

        <hr>
            <table class="table table-striped">
                <tr>

                </tr>

            </table>

    </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>NIC Number</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Issue</th>
                    <th>Remark</th>
    </tr>
  </thead>
  <tbody>
    {% for order in owners %}
                <tr>
                    <td>{{order.NIC_Number}}</td>
                    <td>{{order.Name}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.Issues}}</td>
                    <td>{{order.Remark}}</td>
                </tr>
                {% endfor %}

  </tbody>
</table>
{% endblock %}

